.ResponsivNav{
    z-index: 4;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, #15435B, #1B5E83);
    width: 100%;
    height: 65px;

    box-shadow: 2px -11px 13px 11px rgba(0,0,0,0.75);
}


.nav_container{
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 100vw;
    max-width: 930px;
    height: 65px;
    background-color: blue;
    margin: auto;

    background: linear-gradient(to bottom, #15435B, #1B5E83);
    
   
    

    user-select: none;
}


.nav_container i{
    font-size: 1.7em;
    color: white;

    margin-left: 20px;
    cursor: pointer;
    
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: 40px;

    
}

.brand h2{
    font-family: Changa One, Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 1px ;
    
}

.brand h2 span{
    color: #FDD82E;
}

.brand p{
    color: white;
    font-size: .6em;
}



/* Menu Container */

.overlay_menu{
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.705);
}

.menu{
    z-index: 2;
    position: fixed;
    display: flex;
    top: 4.1em;
   
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 300px;
    height: 100vh;

    background-color: #15435b;
    
    user-select: none;

    border-top: 5px solid #FDD82E;

    animation-name: reveal-menu;
    animation-duration: 0.5s;

}

@keyframes reveal-menu {
    0%{
        left: -700px;
    }

    100%{
        left: 0;
    }
}



.menu h3{
    font-family: Changa, Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 40px;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    
}

.menu h3 > i{
    color: #FDD82E;
    
}

.menu h3:hover{
   scale: 1.1;
}

.menu h3::before{
    content: '';
    position: absolute;
    bottom: -10px;
    border: 2px solid white;
    opacity: 0;
   
}

.menu h3:hover::before{
    content: '';
    animation-name: hover;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    width: 100%;
    opacity: 1;
}

@keyframes hover{
    0%{
        width: 0;
    }
   100%{
    width: 100%;   
   }
}

.social i{
    font-size: 2.5em;

    color: white;
    padding: 5px;

    margin-top:  1em;
    cursor: pointer;
}

.social i:hover{
    color: #FDD82E;
}


/* Menu Pc/tablet */


.listMenu{
    display: none;
    list-style: none;
    
}

.listMenu li{
    font-family: Changa, Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 15px;
    cursor: pointer;
    
}

.menuSocial{
    display: none;
}


.divisao{
    display: none;
    color: white;
}


.menuSocial i:hover{
    color: var(--corquatro);
}

.listMenu li:hover{
    text-decoration: underline;
}


@media screen and (min-width: 770px) {
    

    .listMenu, .menuSocial, .divisao{
        display: flex;
    }

    .nav_container > i{
        display: none;
    }

    .brand{
        font-size: 1.5em;
    }
    
}
