*{
    margin: 0;
    padding: 0;

    --corUm: #000;
    
    scroll-behavior: smooth;
}

/* Changa One */


:root{

    --bodyColor: #ffffff;

    --corUm: #15435B;
    --corDois: #1B5E83;
    --corTres: #113B52;
    --corquatro: #FFD100;
    --corcinco: #2CB742;
    --corblack: #000;


  

}

body{
    background-color: var(--bodyColor);
}

